.post {
    color: blue;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}


.author {
    font-weight: bold;
    color: red;
}

.body {
    font-size: 18px;
    color: green;
}